# Database
DATABASE_URL=file:./dev.db
DATABASE_AUTH_TOKEN=

# Aptos
APTOS_PRIVATE_KEY=
APTOS_API_KEY=
APTOS_NODE_URL=https://api.shelbynet.shelby.xyz/v1
QUORUM_CONTRACT_ADDRESS=0x98bf6a33b5db4dfb05c4b18992a4383cd340630e366f5ebb870a03d45e44a573

# Shelby
SHELBY_API_KEY=
SHELBY_BASE_URL=https://api.shelbynet.shelby.xyz/v1

# Auth
BETTER_AUTH_SECRET=secret
BETTER_AUTH_URL=http://localhost:3001

# Client
VITE_CONTRACT_ADDRESS=0x98bf6a33b5db4dfb05c4b18992a4383cd340630e366f5ebb870a03d45e44a573
VITE_APTOS_NODE_URL=https://api.shelbynet.shelby.xyz/v1
